---
---

$bg-color: #0d1117;
$text-color: #c9d1d9;
$brand-color: #58a6ff;
$grey-color-light: #30363d;
$grey-color: #8b949e;
$grey-color-dark: #c9d1d9;
$table-text-align: left;

@import "minima";

.site-header {
  border-top: 5px solid #58a6ff;
}

.site-title, .site-title:visited {
  color: $text-color;
}

pre, code {
  background-color: #161b22;
  color: $text-color;
  border: 1px solid $grey-color-light;
}
